$btn1: #33f056;
$btn2: #71f033;
$btn3: #b8f033;

$btn1-h: darken($btn1, 10);
$btn1-l: lighten($btn1, 5);
$btn1-lh: $btn1;

$btn2-h: darken($btn2, 10);
$btn2-l: lighten($btn2, 5);
$btn2-lh: $btn2;


$btn3-h: darken($btn3, 10);
$btn3-l: lighten($btn3, 5);
$btn3-lh: $btn3;


@mixin button-color($color) {
    color: #FFF;
    background-color: $color;
    border-color: $color;
}


.navbar {
    margin-right: 10px;
}

img {
    display: block;
    width: 400px;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 15px;
}

.portfolio {


}

.tech {
    font-style: italic;
}

.button-special {
    @include button-color($color: $btn1);
}

.button-special:hover {
   @include button-color($color: $btn1-h);
}

.button-special2 {
   @include button-color($color: $btn1-l);
}

.button-special2:hover {
   @include button-color($color: $btn1);
}

.button-special3 {
   @include button-color($color: $btn2);
}

.button-special3:hover {
   @include button-color($color: $btn2-h);
}

.button-special4 {
   @include button-color($color: $btn2-l);
}

.button-special4:hover {
   @include button-color($color: $btn2);
}

.button-special5 {
   @include button-color($color: $btn3);
}

.button-special5:hover {
   @include button-color($color: $btn3-h);
}

.button-special6 {
   @include button-color($color: $btn3-l);
}

.button-special6:hover {
   @include button-color($color: $btn3);
}

.art-desc {
    margin-top: 20px;
    text-align: center;
}